@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&family=Nunito:wght@500&display=swap');
/*'Nunito', sans-serif*/

body, html{
	height: 100%;
	margin: 0;
	font-family: monospace; 
	font-size: 1.05em;
	color: white;
	text-decoration: none;
/*	overflow: hidden;*/
}

body{
	background-image: url("designhome.png");
	background-size: 80% 100%;
	background-position: center;
	background-repeat: no-repeat;
	/*	background-image: url("background.png");*/
/*	background-color: white;*/
}

div#content{
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

h1, h2, h3{
	font-family: 'Cherry Bomb One', cursive;
}

h1{
	font-size: 2.2em;
}

strong, b, i{
	display: block;
	margin-bottom: 1em;
}

strong{
	text-transform: uppercase;
	margin-bottom: 2em;
}

header{
	width:50%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

nav div{
	text-align: center;
	position: absolute;
}

nav div#trash{
	top:70%;
	left:40%;
}

nav div#art{
	top:10%;
	left:40%;
}

nav div#time{
	top:25%;
	left:40%;
}

nav div#dream{
	top:20%;
	left:30%;
}

nav div#bat{
	top:30%;
	left:25%;
}

nav div#cat{
	top:30%;
	left:50%;
}

nav div#dark{
	top:20%;
	left:60%;
}

nav div#pan{
	top:50%;
	left:50%;
}

nav div#pap{
	top:50%;
	left:35%;
}

nav div#strat{
	top:20%;
	left:70%;
}

nav div#sushi{
	top:65%;
	left:30%;
}

nav div#ink{
	top:5%;
	left:30%;
}

nav div#bunny{
	top:50%;
	left:25%;
}

nav div#creature{
	top:50%;
	left:15%;
}

nav div#paint{
	top:40%;
	left:65%;
}

nav div#house{
	top:65%;
	left:55%;
}

nav div#aca{
	top:60%;
	left:65%;
}

nav div#osc{
	top:10%;
	left:20%;
}

nav div#har{
	top:25%;
	left:15%;
}

nav div#vr{
	top:60%;
	left:10%;
}

nav div#wash{
	top:70%;
	left:20%;
}

nav div#piano{
	top:35%;
	left:10%;
}

nav div#ayca{
	top:10%;
	left:50%;
}

nav div#dss{
	top:5%;
	left:60%;
}

nav div#link{
	top:55%;
	left:40%;
}

nav div img{
	width:30%;
}

nav div p{
	margin: 0%;
	text-shadow: 1px 1px #191919;
}

section{
	display: none;
	position: absolute;
	width: 80%;
	height: 80%;
	padding: 20px;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: scroll;
	color: black;
	background-color: white;
	background-image: url("designframe.png");
	background-size: 100%;
	background-repeat: no-repeat;
	border: 5px solid #EDEDED;
	border-radius: 30px;
}

.grid {
	column-count: 2;
	column-gap: 10px;
}

.grid > img{
	width: 100%;
	margin-bottom: 6px;
	/*JS: if image width is bigger than height > column: span 2;*/
}

.grid > img.big{
	column-span: all;
}

section iframe{
	width:100%;
	height:100%;
	border: none;
}

@media only screen and (max-width: 850px){
body{
	background-size: 100% 100%;
}

.grid {
	column-count: 1s;
	column-gap: 10px;
}